@import "https://feedsp.in/themes/default.css";

/* Toolbars*/
.claro .dijitToolbar { 
  background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	padding: 4px 0 2px 4px;
	
}

.dj_webkit .dijitToolbar .dijitSelect {
	margin: 0px 5px 0px 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

div#headlines-toolbar .dijitSelect,
.claro .dijitSelect .dijitArrowButton {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left: 5px;
}

#headlines-toolbar {
	-webkit-box-shadow: -4px 12px 10px -10px #999;
	-moz-box-shadow: -4px 12px 10px -10px #999;
	box-shadow: -4px 12px 10px -10px #999;
	z-index: 999;
	background: hsla(0, 100%, 14%, 0.09) !important;
}

/* Expanded View */
div.cdm.expanded {
	border: 1px solid #CCC;
	margin: 10px 10px 20px 10px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	-webkit-box-shadow: 2px 2px 9px #999;
	-moz-box-shadow: 2px 2px 9px #999;
	box-shadow: 2px 2px 9px #999;
}

div.cdm.expanded > hr {
	display: none;
}

div.cdm.expanded.Unread {
	border: 1px solid #95A9D6;
}

div.cdm.expanded div.cdmHeader {
	background: #e0e0e0 !important;
}

div.cdm.expanded.Unread div.cdmHeader {
	background: #ecf4ff !important;
}

div.cdm.expanded.Selected div.cdmHeader {
	background: #FFF7D6 !important;
}

div.cdm.expanded.active div.cdmHeader {
	background: #E0E0E0;
	text-decoration: underline;
}

div.cdm.expanded.active.Unread div.cdmHeader {
	background: #ecf4ff;
}

div.cdm.expanded.active div.cdmHeader a.title {
	color: #000;
}

div.cdm.expanded div.cdmHeader a.title {
	font-weight: normal;
}

div.cdm.expanded.Unread div.cdmHeader a.title {
	font-weight: bold;
}

div.cdm.expanded, div.cdm.expanded .cdmHeader {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

div.cdm.expanded div.cdmHeader a.title,
div.cdm.active div.cdmHeader a.title {
	color: #000;
	font-size: 13px
}

div.cdm.expanded div.cdmContent a {
	color: #0039E6;
}

div.cdm.expanded div.cdmContent {
	color: #000;
	}

div.cdm.expanded div.cdmFooter {
	margin: 3px
}

div.cdm.expanded div.cdmContentInner div,
div.cdmContentInner,
div.cdmContentInner p,
div.cdmContentInner span,
div.postContent p {
	max-width: 900px;
}

div.postContent img, div.cdmContentInner img {
	height: auto;
}
/* end Expanded View */

/*Expandable View */
div.cdm.expandable {
	margin: 0px 0px 0px 0px;
	border-top: 0px;
	border-bottom: 1px solid #ccc;
	border-left: 0px;
	border-right: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

}

div.cdm.expandable div.cdmHeader a.title {
	font-weight: normal;
}
	
div.cdm.expandable.Unread div.cdmHeader a.title {
	font-weight: bold;
	font-size: 12px;
}

div.cdm.expandable.Unread div.cdmHeader {
	background: #FFF !important;
}

div.cdm.expandable a.title:hover {
	color: #000;
}

div.cdm.expandable:hover div.cdmHeader{
	background:#EEF6FD !important;
}

div.cdm.expandable.Selected div.cdmHeader {
	background: #FFF7D6 !important;
}

div.cdm.expandable.active div.cdmHeader {
	background: #f0f0f0;
}

div.cdm.expandable.active div.cdmHeader a.title {
	font-size: 13px;
}

div.cdmHeader span.updated {
	color: #666;
	font-weight:bold;
}

div.cdmHeader div.hlFeed a {
	margin-left: 10px;
	color: #002EB8;
}

div.cdmHeader > span {
	white-space: nowrap;
	overflow: hidden;
	max-width: 200px;
}

span.cdmExcerpt {
	font-size: 8pt;
	max-width: 100%;
	display: inline-block;
	padding-left: 10px;
}

div.cdmHeader span.author {
	color: #002EB8;
	font-weight: bold;
}
/* end Expandable View */

/* split-screen view */
div.hl {
	background: #F0F0F0 !important;
}

div.hl.Unread {
	background: #FFF !important;
}

div.hl:hover {
	background:#EEF6FD !important;
}

div.hl a.title:hover, div.hl.active a.title {
	color: #000 !important;
}

.hl div.hlTitle a {
	font-size: 12px;
}

div.hl.Selected {
	background: #FFF7D6 !important;
}

div.hl.active {
	background: #EEF6FD;
	border-color: #C0C0C0 !important;
}

span.contentPreview:hover {
	color: #777 !important;
}

span.contentPreview {
	font-size: 8pt !important;
	max-width: 100% !important;
	display: inline-block !important;
	padding-left: 10px !important;
}

span.hlUpdated {
	font-weight: bold !important;
	font-color: #666 !important;
	font-size: 11px !important;
	min-width: 80px !important;
	padding-left: 5px;
}

div.hlFeed a:hover, div.hlFeed a {
	color: #002EB8;
}

div.hlTitle {
	white-space: nowrap !important;
	overflow: hidden !important;
	max-width: 200px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

div.postReply div.postHeader {
background: hsla(0, 10%, 14%, 0.09) !important;
box-shadow: 0px 5px 10px -3px #999; !important;
}

div.postReply div.postTitle {
	font-weight: bold !important;
	color: #000 !important;
}

div.postReply div.postTitle a {
	color: #000 !important;
}

div.postHeader div.postDate {
	color: #666 !important;
	font-weight: bold !important;
}
/* end split-screen view */

/*Feed Tree*/

#feeds-holder{
	overflow-y: auto;
}

#ttrssMain #feedTree > .dijitTreeIsRoot:before {
content: url(/images/feedspin.png);
height: 53px;
}

.dijitFolderOpened {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYVJREFUeNqkUztLA0EQnttdDYQQU6QVCxuxsLYQrYOC2GintYigCFqkCwoqEStre0EsLPwBVrYSoxwmOY1BE4iPkMTL3d6ts3uJSlRykoFvH8zrm5ldTQgB3YhGpjf+0MAQrrFfNGcg4AbAS8wQs4j+H2aoP04sJyVDSbK1zyUOCGpHEEdeACEGTnfWdjnnn0bKHw+VSk3trvuFk82V5Ex8f72VRwYglmWDaZrNANIQlHG7s0St1pDRifImGhCkSlvGnZw9uLI8CgRjaJrHgHMHLq5zUG5Sbq/7+x4I9MrMY9jkVeTwwMAVtPRSBUopzE9O+BrdwtR4LFMoDi7tHW5LBuyp/ArRvjDkco/g510QrP08pWcwuU4kg0LpGSLBINi2A5y7HcEYg0vdyILjZmQJ7N20gGkU6tz2VUK1br2lb/N57ENRBYiGw2o8sst+JGXcG5jdkM+FCdsJRUIhpNXj7+3j6K70uyI0eBYZ4H10MY5zHf7fD4I0rlvq2O1vJNClfAgwANWJGy9Vham8AAAAAElFTkSuQmCC);
}

.dijitFolderClosed {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARBJREFUeNpi/P//PwMlgJHJvxyPLIMGkPTEIbud4T/DDRYgIwyIZbEqATpuQ2t+DzapgOqJTEBKj5HJr6x0c2dx1+/fv1EUsLKyMjx69Ijh9+8/DHx8ghgG8PJyM4TWTy5jYfj/n+nnz98M379/R1PynUFaWhZoyEOGFy+eYRjw4gXIhf+ZgAYwMP/9+48BhNHBhw8fGcTEJIAY0wsgFzL8384MdsGfP/8YQBgb+PLlG1ZxTk5OqAv+/WfGZwAuAFYP1AtyAcufP/8ZQJg0A/6DXMBCBRf8+8+CKxDxAbD6fxAXUGbA/99/eZiYmBnY2NhJMgCkB6SXkdEisxqYFrTIy0kM1xgpzY1MDBQCgAADADILkke0ddSPAAAAAElFTkSuQmCC);
}

.dijitTreeRow {
	font-size: 9pt;
	padding-left: 0px;
}

.dijitTreeContainer .dijitInline {
	padding-left: 0px;
}
/* end Feed Tree */

/*Scrollbars */
::-webkit-scrollbar { 
	width:14px !important;
	height: 14px !important; 
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .03) !important;
	border-width:0 !important;
	-webkit-border-radius:32px !important;
	-moz-border-radius :32px !important;
	border-radius :32px !important;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, .08) !important;
	border-width:0 !important;
	-webkit-border-radius:32px !important;
	-moz-border-radius :32px !important;
	border-radius :32px !important;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-track {
	border-width:0 !important;
	-webkit-border-radius:32px !important;
	-moz-border-radius :32px !important;
	border-radius :32px !important;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-track:hover {
	background-color: rgba(0, 0, 0, 0) !important;
	border-width:0 !important;
	-webkit-border-radius:32px !important;
	-moz-border-radius :32px !important;
	border-radius :32px !important;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
/* end Scrollbars */

/* Article Toolbar plugin */

/* end Article Toolbar plugin */

#notify {
	top: 10px;
	bottom: auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.claro .dijitDialogUnderlay {
	background: #000;
}

.claro .dijitDialog {
	-webkit-border-radius: 4x;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

body#ttrssMain, body#ttrssPrefs, body#ttrssLogin, body {
	font-size: 13px;
	font-family: "Segoe UI", Tahoma, sans-serif;
	}

/* 'Embed Original' plugin - auto resize iframe container to parent */
#headlines-frame .cdmContent .embeddedContent {
	height: 87%;
}
/* end 'Embed Original' plugin - auto resize iframe container to parent */

#headlines-frame .cdmFeedTitle {
	background:hsla(0, 100%, 14%, 0.09) !important;
}

#content-insert {
	height: 75% !important;
	}
